/**
 * clearfix 
 */
.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:"&nbsp;";
}
/*IE6A7‘Îô*/
.clearfix { min-height:1px; }
* html .clearfix {
    height: 1px;
    /*\*//*/ /*MAC IE5.x‘Îô*/
    height: auto;
    overflow: hidden;
    /**/
}
